{% block foter%}

 <footer id="about" class="bg-dark">
    <div class="container pt-5 text-white ">
      <div class="row ">
        <div class="div col-4 ">
          <h4>ABOUT TEAM</h4>
          <P> The sports club team is distinguished by a spirt of teamwork and challenge combining
            high athletic skills with acommitment to success we strive to motivate each other
            enchance physical fitness anddeliver strong performances in various sports and competiition.
          </P>
        </div>

        <div class="div col-3">
          <h4>CONTACT US</h4>
          <p class="pt-3"> <i class="fa-solid fa-house"></i>
            <span> club of Champions</span>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <span> clubOfChampion@123.com</span>
          </p>
          <p>
            <i class="fas fa-phone me-3"></i>
            <span> 09912999999</span>
          </p>
          <p>
            <i class="fas fa-print me-3"></i>
            <span> 01668129</span>
          </p>
        </div>

        <div class="div col-3">
          <h4> FOLLOW US</h4>
          <a href="" class="link-light text-decoration-none text-muted">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="" class="link-light text-decoration-none text-muted">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="" class="link-light text-decoration-none text-muted">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="" class="link-light text-decoration-none text-muted">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="" class="link-light text-decoration-none text-muted">
            <i class="fa-brands fa-telegram"></i>
          </a>
        </div>
        <div class="col-2">
          <h4>LOCATION</h4>
             <p><i class="fa-solid fa-location"></i>Location:latakia\jablah city center <i class="fa-solid fa-city"></i>
             </p>
        </div>
      </div>
    </div>
  </footer>


{%endblock foter%}